<section id="home" class="coffe-shop-blogs">
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url(/assets/coffee-shop-blogs-8734ef7b6d40330711edc3c21347c459f5de4078e53d70c9a961101e4b741465.jpg);">
    <div class="overlay">
    </div>
  </div>
  <!-- /Background Image -->
  <div class="home-wrapper-page-title">
    <div class="container">
      <div class="row">

        <!-- home content -->
        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <h1 class="white-text"><%= @blog.title %></h1>
          </div>
        </div>
        <!-- /home content -->
      </div>
    </div>
  </div>
</section>
<div id="blog" class="section sm-padding bg-grey">
<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Main -->
    <main id="main" class="col-md-9">
      <div style="padding-left:20px;padding-right:20px" class="blog">
        <!-- <div class="blog-img">
          <!-- <img class="img-responsive" src="./img/blog-post.jpg" alt=""> -->
        <!-- </div> -->
        <div class="blog-content">
          <div class="blog-meta">
                <p> <%= @blog.content %></p>
              <ul class="blog-meta text-right">
                <% if @blog.like_id(@logged_in_user.id) == 0 %>
                  <li>
                    <%= link_to(likes_path(blog_id: @blog.id ,user_id: @logged_in_user.id), method: :post ) do %>
                      <i class="fa fa-heart"></i>
                    <% end %>
                    <%= @blog.likes.count %>
                  </li>
                <% elsif @blog.like_id(@logged_in_user.id) > 0 %>
                  <li>
                    <%= link_to(like_path( @blog.like_id(@logged_in_user.id) ) , method: :delete ) do %>
                      <i class="fa fa-heart " style="color:red"></i>
                    <% end %>
                    <%= @blog.likes.count %>
                  </li>
                <% end %>
                <li><i class="fa fa-comments"></i><%= @blog.comments.count %></li>
                <li><i class="fa fa-clock-o"></i><%= @blog.created_at.in_time_zone("Eastern Time (US & Canada)").strftime(" %b %dth %Y")  %></li>
                <li><i class="fa fa-user"></i><%= link_to(@blog.user.full_name,user_path(@blog.user)) %> </li>
              </ul>
          </div>
        </div>
        <!-- blog author -->
        <div class="blog-author">
          <!-- <div class="media">
            <div class="media-left">
              <img class="media-object" src="./img/author.jpg" alt="">
            </div>
            <div class="media-body">
              <div class="media-heading">
                <h3>Joe Doe</h3>
                <div class="author-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
              <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
            </div>
          </div> -->
        </div>
        <!-- /blog author -->

        <!-- blog comments -->
        <div class="blog-comments">
        <div class="row ">
          <div class="text-left col-md-4">
            <h3 class="title"> (<%= @blog.comments.count %>) Comments </h3>
          </div>
          <div class="text-right col-md-8">
            <% if @blog.user == @logged_in_user %>
                <%= link_to(edit_blog_path(@blog)) do %>
                  <%=  fa_icon 'edit' %>  Edit Blog
                <% end %>
            <% end %>
          </div>
        </div>
          <!-- comment -->
          <% @blog.comments.each do |comment| %>
            <div class="media">
              <!-- <div class="media-left">
                <img class="media-object" src="./img/perso2.jpg" alt="">
              </div> -->
              <div class="media-body">
                <h4 class="media-heading"><%= link_to(comment.user.full_name,user_path(comment.user)) %><span class="time"><%= comment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime(" %b %dth %Y")%> </span>
                  <% if comment.user == @logged_in_user %>
                    <div style="font-size:18px;" class="reply" >
                      <%= link_to(comment_path(comment), method: :delete) do %>
                        <%=  fa_icon 'trash' %>  Delete
                      <% end %>
                    </div>
                  <% end %>
                </h4>
                <p><%= comment.content %></p>
              </div>
            </div>
          <% end %>
          <!-- /comment -->
        </div>
        <!-- /blog comments -->

        <!-- reply form -->
        <div id="comment-form" class="reply-form">
          <h3 class="title">Leave a reply</h3>
            <%= form_for @comment do |f| %>
              <%= f.text_area :content , required:true ,autocomplete:"off", class:"old-textarea", placeholder:"Add Your Commment" %>
              <% if !!flash[:errors] && flash[:errors].any? %>
                <% flash[:errors].each do |message| %>
                <div class="alert alert-danger" role="alert">
                  <p><%= message %></p>
                </div>
                <% end %>
              <% end %>
              <%= f.hidden_field :blog_id , value: @blog.id %>
              <%= submit_tag 'Submit', class:"main-btn" %>
            <% end %>
        </div>
        <!-- /reply form -->
      </div>
    </main>
    <!-- /Main -->

    <!-- Aside -->
    <aside id="aside" class="col-md-3">

      <!-- Posts sidebar -->
      <div class="widget">
        <h3 class="title">Popular Posts</h3>

        <% @popular_blogs.each do |blog| %>
          <!-- single post -->
          <div class="widget-post">
          <a href="<%= blog_path(blog) %>">
              <!-- <img src="./img/post1.jpg" alt=""> -->
               <%= blog.title %>
            </a>
            <ul class="blog-meta ">
              <li style="font-size:20px;"><%= blog.created_at.in_time_zone("Eastern Time (US & Canada)").strftime(" %b %dth %Y")%></li>
            </ul>
          </div>
          <!-- /single post -->
        <% end %>
      </div>
      <!-- /Posts sidebar -->
    </aside>
    <!-- /Aside -->
  </div>
  <!-- /Row -->
</div>
<!-- /Container -->
</div>
