<div class="section md-padding">
  <div class="bg-img" style="background-image: url(<%= asset_path('sad-coffee.jpg') %>);">
    <div class="overlay">
    </div>
  </div>
  <div class="container">
    <div class="row container">


        <div class="edit-user-form text-center">
          <div class="col-md-4 col-md-offset-4">
            <%= form_for @user do |f| %>
                <% if @user.errors.any? %>
                  <% @user.errors.full_messages.each do |message| %>
                  <div class="alert alert-danger" role="alert">
                    <p><%= message %></p>
                  </div>
                  <% end %>
                <% end %>

                <%= f.label :full_name %>
                <%= f.text_field :full_name , autocomplete:"off"%> <br>
                <%= f.label :user_name %>
                <%= f.text_field :user_name , autocomplete:"off"%> <br>
                <%= f.label :password %>
                <%= f.password_field :password %> <br>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %> <br>
              <div class="sm-padding">
                <%= f.submit 'Edit Me!', class: 'main-btn' %>
              </div>
            <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
