<h1><%= @user.full_name %></h1>
<h2><%= @user.coffee_shop.name %></h2>
<h2><%= @user.user_name %></h2>
<h2><%= @user.password %></h2>

<%= link_to('edit', edit_user_path(@user)) %>

<ul>
  <% @user.blogs.each do |blog| %>
    <li><%= link_to(blog.title, blog_path(blog)) %></li>
  <% end %>
</ul>
