<!DOCTYPE html>
<html>
  <head>
    <title>Mod2FinalProjectCoffeeShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <%= link_to(@logged_in_user.full_name, user_path(@logged_in_user), class: "nav-item nav-link" ) if @logged_in_user %>

            <%= link_to("Log out", logout_path, method: :delete, class: "nav-item nav-link text-danger" ) if @logged_in_user %>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
