<!DOCTYPE html>
<html>
  <head>
    <title>Mod2FinalProjectCoffeeShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to("Log out", logout_path, method: :delete) if session[:user_id] %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
